requests~=2.27.1
scrapydo~=0.2.2
pandas~=1.4.1
Scrapy~=2.6.1
itemadapter~=0.5.0
boto3~=1.21.28
Pillow~=9.0.1
cffi~=1.15.0
lxml~=4.8.0
cssselect~=1.1.0
pytz~=2022.1
attrs~=21.4.0
botocore~=1.24.28
s3transfer~=0.5.2
jmespath~=1.0.0
numpy~=1.22.3
setuptools~=44.0.0
six~=1.16.0
w3lib~=1.22.0
python-dateutil~=2.8.2
parsel~=1.6.0
pyasn1~=0.4.8
Twisted~=22.2.0
PyDispatcher~=2.0.5
cryptography~=36.0.2
itemloaders~=1.0.4
queuelib~=1.6.2
tldextract~=3.2.0
Automat~=20.2.0
certifi~=2021.10.8
crochet~=2.0.0
wrapt~=1.14.0
incremental~=21.3.0
constantly~=15.1.0
hyperlink~=21.0.0
urllib3~=1.26.9
Pygments~=2.11.2
idna~=3.3
pycparser~=2.21
filelock~=3.6.0